button{
    width: 150px;
    margin: 5px 0;
}
.submit.button.is-link{
    float: left;
    margin-right: 40px;
}
body{
    display: inline-blockblock;
}
body section.container{
    background-color: whitesmoke;
    padding:10px;
}